/* div {
    background-color: aqua;
} */



.purple {
    color: purple;
    
}

.big {
    font-size: 25px;
}
.blue{
    color:rgb(9, 111, 151);
}

.Sdiv{
    background-color: black;
}
body {
    background-color: greenyellow;
}
.div1{
    background-color: black;
}